extends ../layout

block content
  h1= title
  - var action = '/challenges'
  - action += challenge.isNew? '' : '/' + challenge.id
  .row
    .span4
      - if (!challenge.isNew && challenge.image && challenge.image.files && challenge.image.files.length)
        img(src=challenge.image.cdnUri + "/mini_" + challenge.image.files[0])
    .span8
      form.form-horizontal(role='form', method='post', action=action, enctype='multipart/form-data')
        if errors && errors.length
          .errors
          - each err in errors
            .error= err


        input(type="hidden", name="_csrf", value="#{csrf_token}")

        - if (!challenge.isNew)
          input(type="hidden", name="_method", value="PUT")

        .form-group
          label(for='title').control-label Title
          input#title(name='title', placeholder='Title', value=challenge.title).form-control
        .form-group
          label(for='file').control-label Image
          input#body(name='image[]', type='file').form-control
        .form-group
          label(for='body').control-label Description
          textarea#body(name='body', placeholder='Description').form-control= challenge.body
        .form-group
          label(for='points').control-label Points
          input#points(name='points', placeholder='Points', value=challenge.points).form-control
        .form-group
          label(for='location').control-label Location
          input#location(name='location', placeholder='Location', value=challenge.location).form-control
        .form-group
          button(type='submit', value='Log In').btn.btn-default Save

