extends ../layout

block content
  if session.isLoggedIn
    p
      a.btn.btn-success(href="/challenges/new") New Challenge


  form.form-search
    input.input-big.search-query.search-challenges(type="text", placeholder="Search Challenges")
  br


  if !(challenges && challenges.length)
    p Nothing to see here.
  else
    table.challenges.table.table-striped
      tr
        th #
        th title
        th points
        th description
        th location
        th actions
      - var i = parseInt(page-1) * parseInt(perPage)
      each challenge in challenges
        tr
          td= ++i
          td
            a(href="/challenges/#{challenge.slug}")= challenge.title
          td= challenge.points
          td.description= challenge.body
          td.location Location
          td.actions
            a(href="/challenges/#{challenge.slug}/edit") edit
            br
            a.destroy(href="/challenges/#{challenge.slug}") delete
    if (page > 1)
      - var nextPage = parseInt(page) - 1
      a.btn.btn-primary.prevPage(href="/challenges?page=#{nextPage}") prev
    if (page*perPage < totalCount)
      - var nextPage = parseInt(page) + 1
      a.btn.btn-primary.nextPage(href="/challenges?page=#{nextPage}") next
